// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$blog-thumb-name: 'blog-thumb';
$blog-thumb-x: 1735px;
$blog-thumb-y: 0px;
$blog-thumb-offset-x: -1735px;
$blog-thumb-offset-y: 0px;
$blog-thumb-width: 1200px;
$blog-thumb-height: 900px;
$blog-thumb-total-width: 2935px;
$blog-thumb-total-height: 1725px;
$blog-thumb-image: '../images/sprite.png';
$blog-thumb: (1735px, 0px, -1735px, 0px, 1200px, 900px, 2935px, 1725px, '../images/sprite.png', 'blog-thumb', );
$icon-academy-name: 'icon-academy';
$icon-academy-x: 1935px;
$icon-academy-y: 955px;
$icon-academy-offset-x: -1935px;
$icon-academy-offset-y: -955px;
$icon-academy-width: 20px;
$icon-academy-height: 21px;
$icon-academy-total-width: 2935px;
$icon-academy-total-height: 1725px;
$icon-academy-image: '../images/sprite.png';
$icon-academy: (1935px, 955px, -1935px, -955px, 20px, 21px, 2935px, 1725px, '../images/sprite.png', 'icon-academy', );
$icon-bg-name: 'icon-bg';
$icon-bg-x: 0px;
$icon-bg-y: 0px;
$icon-bg-offset-x: 0px;
$icon-bg-offset-y: 0px;
$icon-bg-width: 1725px;
$icon-bg-height: 1725px;
$icon-bg-total-width: 2935px;
$icon-bg-total-height: 1725px;
$icon-bg-image: '../images/sprite.png';
$icon-bg: (0px, 0px, 0px, 0px, 1725px, 1725px, 2935px, 1725px, '../images/sprite.png', 'icon-bg', );
$icon1-name: 'icon1';
$icon1-x: 1845px;
$icon1-y: 910px;
$icon1-offset-x: -1845px;
$icon1-offset-y: -910px;
$icon1-width: 80px;
$icon1-height: 80px;
$icon1-total-width: 2935px;
$icon1-total-height: 1725px;
$icon1-image: '../images/sprite.png';
$icon1: (1845px, 910px, -1845px, -910px, 80px, 80px, 2935px, 1725px, '../images/sprite.png', 'icon1', );
$icon2-name: 'icon2';
$icon2-x: 1735px;
$icon2-y: 910px;
$icon2-offset-x: -1735px;
$icon2-offset-y: -910px;
$icon2-width: 100px;
$icon2-height: 100px;
$icon2-total-width: 2935px;
$icon2-total-height: 1725px;
$icon2-image: '../images/sprite.png';
$icon2: (1735px, 910px, -1735px, -910px, 100px, 100px, 2935px, 1725px, '../images/sprite.png', 'icon2', );
$owl-next-name: 'owl-next';
$owl-next-x: 1935px;
$owl-next-y: 910px;
$owl-next-offset-x: -1935px;
$owl-next-offset-y: -910px;
$owl-next-width: 23px;
$owl-next-height: 35px;
$owl-next-total-width: 2935px;
$owl-next-total-height: 1725px;
$owl-next-image: '../images/sprite.png';
$owl-next: (1935px, 910px, -1935px, -910px, 23px, 35px, 2935px, 1725px, '../images/sprite.png', 'owl-next', );
$owl-prev-name: 'owl-prev';
$owl-prev-x: 1968px;
$owl-prev-y: 910px;
$owl-prev-offset-x: -1968px;
$owl-prev-offset-y: -910px;
$owl-prev-width: 23px;
$owl-prev-height: 35px;
$owl-prev-total-width: 2935px;
$owl-prev-total-height: 1725px;
$owl-prev-image: '../images/sprite.png';
$owl-prev: (1968px, 910px, -1968px, -910px, 23px, 35px, 2935px, 1725px, '../images/sprite.png', 'owl-prev', );
$pc-icons-name: 'pc-icons';
$pc-icons-x: 2001px;
$pc-icons-y: 910px;
$pc-icons-offset-x: -2001px;
$pc-icons-offset-y: -910px;
$pc-icons-width: 26px;
$pc-icons-height: 20px;
$pc-icons-total-width: 2935px;
$pc-icons-total-height: 1725px;
$pc-icons-image: '../images/sprite.png';
$pc-icons: (2001px, 910px, -2001px, -910px, 26px, 20px, 2935px, 1725px, '../images/sprite.png', 'pc-icons', );
$relogio-name: 'relogio';
$relogio-x: 1965px;
$relogio-y: 955px;
$relogio-offset-x: -1965px;
$relogio-offset-y: -955px;
$relogio-width: 20px;
$relogio-height: 21px;
$relogio-total-width: 2935px;
$relogio-total-height: 1725px;
$relogio-image: '../images/sprite.png';
$relogio: (1965px, 955px, -1965px, -955px, 20px, 21px, 2935px, 1725px, '../images/sprite.png', 'relogio', );
$spritesheet-width: 2935px;
$spritesheet-height: 1725px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($blog-thumb, $icon-academy, $icon-bg, $icon1, $icon2, $owl-next, $owl-prev, $pc-icons, $relogio, );
$spritesheet: (2935px, 1725px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
