/*
* Copyright: 2021  
* Desenvolvedor: Bruno Lima 
*/

@import 'webflow/all';
@import 'global/all';
@import 'pages/all';
@import 'styles/all';


.code {
	color: #62ff00; background: rgba(0, 0, 0, 0.8); position: fixed; z-index: 9999999999; height: 100%; width: 100%; top: 0; right: 0; padding: 15px 15px 15px 220px; overflow: auto;
}