/* AJAX EFFECTS */
.msg-popup {
	font-size: 30px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	height: 100%;
	background: white;
	color: #2c2d59;
	display: none;
	letter-spacing: 1.2px;
	left: 0;
	position: absolute;
	top: 0px;
	z-index: 9999999;
	text-transform: capitalize;
}  
.msg-popup .wrap-load {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    margin-top: -75px;
}

.msg-popup .load {
    position: relative;
    display: inline-block;
    padding: 30px 0 130px;
    margin-top: 30px;
}
	
.msg-popup .load:after {
	content: "";
	border-radius: 30px;
	height: 30px;
	width: 30px;
	border: 5px solid #2ebaa8;
	left: 50%;
	margin: -15px 0px 0px -15px;
	opacity: 0;
	position: absolute;
	top: 50%;
	animation: pulsate 1s ease-out;
	animation-iteration-count: infinite;
}
  
	
@keyframes pulsate {
	0% {
	  transform: scale(.1);
	  opacity: 0.0;
	}
	50% {
	  opacity: 1;
	}
	100% {
	  transform: scale(1.2);
	  opacity: 0;
	}
}
  
/* MSG AJAX */
.escolas-ajax-msg {
	display: flex;
	flex-direction: column;
	margin: 60px 0;
	align-items: center;
}