.fancybox-container{
    z-index:9999999999999999 !important;
}

.cursos_desc_block{
    margin-bottom: 18px;
}

.boxed.square-top.boxed-small{
    border-radius: 0px 0px 10px 10px;
}

body{
    overflow-x:  hidden;
}

.card-course-curso {
    width: 100%;
    max-width: 396px;
}


@media screen and (min-width: 700px) {
    .card-course-curso {
        position: absolute;
        top: 0;
        right: 20px;
    }
}

.card-course-curso__div{
    display:flex;
    flex-direction: row;
}

.single-curso-content{
    margin:auto;

    @include respond-to(sm){
        max-width: 60%;
    }
}

.section-search-cursos{
    margin-top:5rem;
    text-align: center;
}