.menu-footer-container{
    #menu-footer{
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 2rem;

        @include respond-to(md){
            grid-template-columns: 1fr 1fr;
        }
    }
    
    ul li{
        text-decoration:none;
        list-style: none;
        width: 117px;

        a{
            color:#fff;
            opacity: 0.8;
            font-size: 16px;
            line-height: 22px;
            font-weight: 700;
        }
    }
}


    .footer-3-logo{
        img{
            height: 47px;
            max-width: 100%;
            vertical-align: middle;
            display: inline-block;
        }
    }
