a{
    text-decoration: none;
}

.nav__menu{
    margin-right: 9px;
    .menu-item{
        list-style: none;
        padding: 12px 24px;
        border-radius: 100px;
        transition: all 350ms ease;
        font-weight: 700;
        font-size: 16px;

        &:hover {
            background-color: rgba(45, 172, 236, 0.2);
        }

        a{
            color: #2c2d59;
        }
    }

    .menu-item-15{
        background-color: #2c2d59;
        border-radius: 100px;
        display: flex;
        max-height: 48px;
        margin-left: 8px;

        a{
            color:#fff;
            font-weight: 700;
        }
    }   
}

.header-img{
    img{
        height: 47px;
    }
}


/* Important styles */
#toggle {
    display: block;
    width: 28px;
    height: 30px;
    margin: 30px auto 10px;
  }
  
  #toggle span:after,
  #toggle span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
  }
  #toggle span:after{
    top: 9px;
  }
  #toggle span {
    position: relative;
    display: block;
  }
  
  #toggle span,
  #toggle span:after,
  #toggle span:before {
    width: 100%;
    height: 5px;
    background-color: #888;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px;
  }
  
  /* on activation */
  #toggle.on span {
    background-color: transparent;
  }
  #toggle.on span:before {
    transform: rotate(45deg) translate(5px, 5px);
  }
  #toggle.on span:after {
    transform: rotate(-45deg) translate(7px, -8px);
  }
  #toggle.on + #menu {
    opacity: 1;
    visibility: visible;
  }


  /* MENU */
.component-menu {
	display: flex;
	list-style: none;
}
  
.component-menu-bar {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.component-menu-mobile li a {
    color: #2c2d59;
}

.component-menu .menu-item a {
	z-index: 1;
	margin-right: 0px;
	margin-left: 0px;
	padding: 8px 16px;
	border-radius: 6px;
	-webkit-transition: background-color 150ms ease;
	transition: background-color 150ms ease;
	font-family: Inter, sans-serif;
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	text-decoration: none;
}

#menu-mobile{
	display: none;
} 
.component-menu-mobile {
	position: absolute;
	list-style: none;
  margin-top:20px;
	left: 0;
	background: #fff;
	z-index: 9;
	width: 100%;
	top: 60px;
	padding: 50px 15px;
}
.component-menu-mobile li {
	margin-bottom: 10px;
}  
.component-menu-mobile li a {
	text-decoration: none;
	font-size: 20px;
}

.section-top_botom{
  margin-bottom: 10px;

  &:hover{
    background:#1c1c38;
  }
}